<%- include('./partials/header',{})%>

  <%- include('./partials/menu2',{session:session})%>
  <br><br>

  <div class="row">
    <div class="col-lg-5">

    </div>
    <div class="col-lg-3">
      <h1>Hot Topic</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3">
      <img src="asset/8ee62c8e79fdb28a8b7b596689239b35--paling-popular-kreatif.jpg" alt="">
    </div>
  </div>

  <%- include('./partials/footer',{})%>
